* {
    box-sizing: border-box;
    a, a:visited{text-decoration: none; }
    a:hover{text-decoration: none;}
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    }
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Khula', sans-serif;
    letter-spacing: 0.7px;
    font-size: 1rem;
    .link {
        text-decoration: none;
        color: rgb(20, 22, 22);
    }
    .projects-block {
        margin-top: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .project {
            & a {
                display: block;
                width: 300px;
                height: 200px;
                padding: 30px;
                margin: 20px;
                border: 5px solid #e99b9b;
                border-radius: 10px;
                &:hover {
                    border-color: #e77171;
                }
                span {
                    font-weight: 700;
                }
                p {
                    color: #585454;
                }
            }
        }
    }
    a {
        display: block;
        width: 300px;
        height: 50px;
        border: 2px solid #3d3a3a;
        border-radius: 40px;
        margin: 50px 0 0 120px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-weight: 700;
        }
        &:hover {
            background-color: #e99b9b;
            border-color: #e77171;
            p {
                color: #fff;
            }
        }
    }
}
