* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* a, * a:visited {
  text-decoration: none;
}
* a:hover {
  text-decoration: none;
}
* :focus, * :active {
  outline: none;
}
* a:focus, * a:active {
  outline: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Khula", sans-serif;
  letter-spacing: 0.7px;
  font-size: 1rem;
}
body .main-block {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .main-block .project a {
  display: block;
  width: 300px;
  height: 200px;
  text-decoration: none;
  color: rgb(20, 22, 22);
  border: 5px solid #e99b9b;
  border-radius: 5px;
  padding: 30px;
  margin: 0 20px;
}
body .main-block .project a:hover {
  border-color: #e77171;
}
body .main-block .project a span {
  font-weight: 700;
}
body .main-block .project a p {
  color: #585454;
}