@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .slide-box {
        width: 100%;
        display: flex;
        padding: 0 20px;
        .slide {
            height: 80vh;
            border-radius: 20px;
            margin: 10px;
            cursor: pointer;
            color: white;
            flex: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: 500ms ease-in-out;
            h3 {
                position: absolute;
                font-size: 22px;
                bottom: 20px;
                left: 20px; 
                margin: 0;
                opacity: 0;
            }
        }
        .active {
            flex: 8; 
            font-size: 40px;
            h3 {
                opacity: 1;
                transition: opacity 0.3s ease-in;

            }
        }
    }
    
    h1 {
        font-size: 40px;
        justify-content: center;
        color: #202b21ab; 
        margin: 0 0 50px 0 ;
    }
    .subtitle {
        letter-spacing: 2px;
        font-style: italic;
        ul {
            font-size: 20px;
            li {
                padding: 15px;
            }
        }
        margin: 0 0 50px 0;
    }

    

}