* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(248, 208, 208, 0.5490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin: 0;
}
body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
body .row .col-header {
  width: 150px;
  height: 1%;
  -webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
          box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}
body .row .col-header p {
  text-align: center;
}
body .row .placeholder {
  width: 150px;
  height: 66px;
}
body .row .placeholder .item {
  width: 150px;
  border: 1px solid #eee;
  -webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
          box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  vertical-align: middle;
  line-height: 66px;
  color: #828282;
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
}
body .row .placeholder .item .item:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
body .row .placeholder .hold {
  border: 5px solid #eee;
  color: #5e97e0;
}
body .row .placeholder .hide {
  display: none;
}
body .row .hovered {
  border-top: 2px solid #e7b0de;
}
body .start {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(245, 151, 199)), color-stop(70%, rgb(245, 72, 110)));
  background: linear-gradient(0deg, rgb(245, 151, 199) 0%, rgb(245, 72, 110) 70%);
}
body .progress {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(240, 81, 245)), color-stop(70%, rgb(169, 93, 236)));
  background: linear-gradient(0deg, rgb(240, 81, 245) 0%, rgb(169, 93, 236) 70%);
}
body .done {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(93, 231, 236)), color-stop(70%, rgb(126, 113, 241)));
  background: linear-gradient(0deg, rgb(93, 231, 236) 0%, rgb(126, 113, 241) 70%);
}